.remove-tool {
  margin: 25px auto;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: block;
  transition: fill 0.25s ease-in-out;
}

.light {
  composes: remove-tool;
}

.light:hover {
  fill: #fff !important;
}

.dark {
  composes: remove-tool;
}

.dark:hover {
  fill: #333 !important;
}
