.remove-tool {
  margin: 25px auto;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: block;
  transition: fill 0.25s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .remove-tool {
    margin: 0;
    margin-left: -40px;
  }
}

.light {
  display: block;
}

.light:hover {
  fill: #fff !important;
}

.dark {
  display: block;
}

.dark:hover {
  fill: #333 !important;
}
