.color-name {
  background: transparent;
  border: none;
  outline: none;
  font-family: 'ASAP';
  text-align: center;
  font-size: 30px;
  transition: opacity 0.25s ease-in-out;
  font-weight: 600;
  letter-spacing: 0.025em;
  width: 100%;
  z-index: 100;
  position: relative;
  margin-bottom: 20px;
}

.light {
  composes: color-name;
}

.light:hover, .light:focus {
  color: #FFF !important;
}

.dark {
  composes: color-name;
}

.dark:hover, .dark:focus {
  color: #333 !important;
}
