.text-copy-input-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .text-copy-input-container {
    flex-direction: column;
  }
}

.text-copy-input {
  composes: text-input from './UITextInput.css';
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

@media only screen and (max-width: 768px) {
  .text-copy-input {
    border-radius: 3px;
    border-right: solid 2px #d3d3d3;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
  }
}

.copy-button {
  appearance: none;
  border: none;
  background-color: #304556;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: 'Asap';
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 0 25px;
}

@media only screen and (max-width: 768px) {
  .copy-button {
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 14px 20px;
  }
}
