.generator-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-footer {
  display: none;
  position: relative !important;
  max-width: none !important;
  animation: none !important;
}

@media only screen and (max-width: 768px) {
  .mobile-footer {
    display: block;
  }
}
