.source-palette-tray {
  background-color: #333333;
  padding: 10px 0 30px;
}

.source-title {
  padding: 0 30px;
}

.color {
  display: block;
  height: 50px;
  border-radius: 3px;
  width: 100%;
  margin: 0 15px;
}

.color-list {
  display: flex;
}
