.slider-icon {
  cursor: pointer;
  margin: 65px auto 0;
  opacity: 0.35;
  position: relative;
  transition: opacity 0.25s ease-in-out;
  width: 40px;
  z-index: 1000;
}

.item-container {
  margin: 9px 0;
  position: relative;
}

.item-line {
  background-color: #FFF;
  border-radius: 2px;
  height: 3px;
  width: 100%;
}

.item-circle {
  background-color: #FFF;
  border-radius: 50%;
  bottom: 0;
  height: 7px;
  margin: auto;
  position: absolute;
  position: absolute;
  top: 0;
  transition: transform 0.25s ease-in-out;
  width: 7px;
}

.item-container:nth-child(1) .item-circle {
  right: 5px;
}

.item-container:nth-child(2) .item-circle {
  left: 5px;
}

.item-container:nth-child(3) .item-circle {
  left: 50%;
  margin-left: -4px;
}

.inactive {
  composes: slider-icon;
}

.active {
  composes: slider-icon;
  opacity: 1;
}

.active .item-container:nth-child(1) .item-circle {
  transform: translateX(-23px);
}
.active .item-container:nth-child(2) .item-circle {
  transform: translateX(23px);
}
.active .item-container:nth-child(3) .item-circle {
  transform: translateX(-5px);
}
