.uiButton {
  border-radius: 3px;
  padding: 14px 20px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 100%;
  transition: background-color 125ms ease-in-out;
}

.primary {
  composes: uiButton;
  background-color: #619fcc;
}

.primary:hover {
  background-color: #6aaddd;
}

.primary:active {
  background-color: #588fb7;
}

.positive {
  composes: uiButton;
  background-color: #77a88d;
}

.positive:hover {
  background-color: #84ba9c;
}

.positive:active {
  background-color: #69937c;
}

.negative {
  composes: uiButton;
  background-color: #ed5e68;
}

.negative:hover {
  background-color: #ff6670;
}

.negative:active {
  background-color: #d3545d;
}
