.uiButton {
  border-radius: 3px;
  padding: 14px 20px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

.primary {
  composes: uiButton;
  background-color: #63A3D0;
}

.positive {
  composes: uiButton;
  background-color: #77A88D;
}

.negative {
  composes: uiButton;
  background-color: #FF6670;
}
