.selectable-button {
  padding: 35px 55px;
  background-color: #FFF;
  border-radius: 2px;
  color: #222;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #63A3D0;
}

.selectable-button:hover {
  transition: background-color 0.25s ease-in-out;
  background-color: #EEE;
}

.image {
  width: 100%;
  max-width: 60px;
  margin-bottom: 25px;
}

.icon {
  margin: 0 auto 18px;
}
