.export-modal-content {
  padding: 40px;
}

.export-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
}

.export-modal {
  position: relative;
  background-color: #FFF;
  color: #333;
  border-radius: 4px;
}

.export-modal-title {
  margin: 0;
  padding-right: 25px;
  font-size: 22px;
  color: #FFF;
}

.export-modal-header {
  padding: 25px;
  display: flex;
  background-color: #304556;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.close-button {
  color: #FFF;
  cursor: pointer;
}

.export-modal-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.export-modal-overlay {
  background-color: rgba(51, 51, 51, 0.85);
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
