.source-palette-tray {
  background-color: #333333;
  padding: 10px 0 30px;
  flex-shrink: 0;
}

.source-title {
  padding: 0 30px;
}

.color {
  display: block;
  height: 50px;
  border-radius: 3px;
  width: 100%;
  margin: 0 15px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.15);
}

.color-list {
  display: flex;
}
