.theme-dark a,
.theme-dark h1,
.theme-dark p,
.theme-dark input,
.theme-dark span {
  color: #444;
}

.theme-dark .keyboard-button {
  border: solid 2px #444;
}

.theme-dark .spinner div,
.theme-dark .line,
.theme-dark .circle {
  background-color: #444;
}

.theme-light {
}

.theme-light a,
.theme-light h1,
.theme-light p,
.theme-light input,
.theme-light span {
  color: #FFF;
}

.keyboard-button {
  border: solid 2px #FFF;
}

.theme-light .spinner div, 
.theme-light .line, 
.theme-light .circle {
  background-color: #FFF;
}
