.color-item {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.2s;
  transition: width 300ms ease-in;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.toolbox {
  position: relative;
  z-index: 1000;
}

.color-animation-enter {
  width: 0.01%;
  overflow: hidden;
}

.color-animation-enter-active {
  width: 100%;
  transition: width 300ms linear;
}

.color-animation-leave {
  width: 100%;
  overflow: hidden;
}

.color-animation-leave-active {
  width: 0.01%;
  transition: width 300ms linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0px);
  }
}

@keyframes bounce-with-delay {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1.0);
    opacity: 1;
  }
}
